.carrier {
  background-image: url('../assets/carrier.png');
}
.battleship {
  background-image: url('../assets/battleship.png');
}
.cruiser {
  background-image: url('../assets/cruiser.png');
}
.submarine {
  background-image: url('../assets/submarine.png');
}
.destroyer {
  background-image: url('../assets/destroyer.png');
}
.rotated-carrier {
  background-image: url('../assets/rotated-carrier.png');
}
.rotated-battleship {
  background-image: url('../assets/rotated-battleship.png');
}
.rotated-cruiser {
  background-image: url('../assets/rotated-cruiser.png');
}
.rotated-submarine {
  background-image: url('../assets/rotated-submarine.png');
}
.rotated-destroyer {
  background-image: url('../assets/rotated-destroyer.png');
}
