.carrier {
  background-image: url('../assets/carrier.png');
}
.battleship {
  background-image: url('../assets/battleship.png');
}
.cruiser {
  background-image: url('../assets/cruiser.png');
}
.submarine {
  background-image: url('../assets/submarine.png');
}
.destroyer {
  background-image: url('../assets/destroyer.png');
}
.rotated-carrier {
  background-image: url('../assets/rotated-carrier.png');
}
.rotated-battleship {
  background-image: url('../assets/rotated-battleship.png');
}
.rotated-cruiser {
  background-image: url('../assets/rotated-cruiser.png');
}
.rotated-submarine {
  background-image: url('../assets/rotated-submarine.png');
}
.rotated-destroyer {
  background-image: url('../assets/rotated-destroyer.png');
}

.placed-ship {
  background-size: 96% 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.carrier-to-try {
  background-image: url('../assets/carrier.png');
  grid-column: 1 / span 5;
  grid-row: 9;
}
