@media all and (max-width: 440px) {
  body {
    scroll-behavior: auto;
    height: auto;
    max-height: none;
  }
  #player-type-selection-container {
    flex-direction: column;
    margin-top: 45px;
  }

  header {
    height: max-content;
  }

  .expanded-vs {
    width: 90vw;
  }

  .players {
    text-align: center;
  }
  #boards-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .board-and-title {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .board-plus-mini-ships-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #left-mini-ships-container,
  #right-mini-ships-container {
    display: none !important;
  }
  .board {
    width: 85vw;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .sunk-x {
    font-weight: 500;
  }
}
