@media all and (max-width: 440px) {
  body {
    scroll-behavior: auto;
    height: 100%;
    max-height: none;
    margin-bottom: 45px;
  }
  #home-btn {
    top: 10px;
    left: 5px;
  }
  #title {
    font-size: 3.5rem;
  }

  #player-type-selection-container {
    flex-direction: column;
    margin-top: 45px;
    font-size: 0.8rem;
  }

  header {
    height: max-content;
  }

  .expanded-vs {
    width: 75vw;
    height: 200px;
  }

  .vs-input-group {
    padding-top: 0;
  }

  .vs .vs-icons-group {
    translate: 0 22%;
  }

  .expanded-vs .vs-icons-group {
    translate: 0 -5%;
  }

  .players {
    text-align: center;
  }
  #boards-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .board-and-title {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .board-plus-mini-ships-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #left-mini-ships-container,
  #right-mini-ships-container {
    display: none !important;
  }
  .board {
    width: 80vw;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .sunk-x {
    font-weight: 500;
  }

  .expanded-vs .human,
  .expanded-vs .cpu {
    font-size: 4rem;
  }

  .expanded-vs .vs-text {
    font-size: 2.2rem;
  }

  #home-btn {
    display: none;
  }
}
