@font-face {
  font-family: 'DMSans';
  src: url('../assets/DMSans-Regular.ttf');
  font-style: normal;
  font-weight: 200;
}

body {
  font-family: DMSans, sans-serif;
  background-color: rgb(15, 15, 17);
  color: rgb(237, 230, 230);
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
}

#boards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  gap: 1px;
}

.tile {
  background-color: rgb(73, 73, 227);
  cursor: pointer;
}

.tile:hover:not(.hit, .miss, .sunk) {
  background-color: rgb(214, 186, 43);
}

.ship {
  background-color: aqua;
}

.hit {
  background-color: brown;
}

.miss {
  background-color: gray;
}

.sunk {
  background-color: black;
}

.pointer-events-disabled {
  pointer-events: none;
}

#player-type-selection-container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.vs {
  border: 1px solid rgb(159, 159, 159);
  padding: 7px;
  text-align: center;
  align-content: center;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  font-weight: 900;
}

.vs:hover {
  background-color: rgb(20, 40, 35);
}

.hidden {
  display: none !important;
}
