@font-face {
  font-family: 'DMSans';
  src: url('../assets/DMSans-Regular.ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'PermanentMarket';
  src: url('../assets/PermanentMarker-Regular.ttf');
  font-style: normal;
  font-weight: 200;
}

:root {
  --my-aqua: rgb(170, 254, 255);
  --my-font: PermanentMarket, sans-serif;
  height: 100%;
}

body {
  font-family: DMSans, sans-serif;
  background-color: rgb(15, 15, 17);
  color: rgb(237, 230, 230);
  padding: 15px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: text-focus-in 0.85s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  background: linear-gradient(
    to bottom,
    rgb(34, 34, 34) 0%,
    rgb(15, 15, 17) 100%
  );
  padding-bottom: 15px;
}

footer {
  position: static;
  width: 100%;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgb(15, 15, 17) 0%,
    rgb(34, 34, 34) 100%
  );
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: text-focus-in 0.85s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

#credits {
  text-align: center;
}

#credits a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

#credits a:visited {
  color: white;
}

#credits a:hover {
  color: var(--my-aqua);
}

#title {
  margin: 0;
  text-align: center;
  font-weight: 800;
  font-size: 5rem;
  font-family: var(--my-font);
  cursor: pointer;
  user-select: none;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

#home-btn {
  position: absolute;
  top: 39px;
  left: 39px;
  font-size: 1.3rem;
  float: left;
  margin-right: auto;
}

#boards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  border: solid 2px var(--my-aqua);
  border-radius: 3px;
  /* background-color: rgb(4, 0, 64); */
  background-image: url('../assets/ocean.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.board::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.tile {
  /* background-color: rgb(0, 0, 96); */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.tile:hover:not(.hit, .miss) {
  background-color: rgb(214, 186, 43);
}

.ship {
  background-color: var(--my-aqua);
}
.hit {
  color: brown;
}
.tile i {
  max-width: 100%;
  max-height: 100%;
  font-size: 1rem;
  font-weight: 500;
}
.hit i {
  font-size: 1.8rem;
}
.miss {
  color: rgb(201, 201, 201);
}

.pointer-events-disabled {
  pointer-events: none;
}

#player-type-selection-container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 1.5rem;
  transition: all 0.6s ease;
  animation: slide-in-elliptic-top-fwd 0.85s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.vs {
  border: 1px solid rgb(159, 159, 159);
  padding: 7px;
  border-radius: 8px;
  width: 200px;
  height: 120px;
  cursor: pointer;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease, height 0.5s ease, background-color 0.3s ease;
}

.expanded-vs {
  width: 450px;
  height: 280px;
  cursor: auto;
}

.hidden-vs {
  opacity: 0.5;
}

.vs-input-group input {
  width: 25%;
}
.vs-input-group select {
  width: 30%;
  border-radius: 4px;
}

.vs-input-group {
  padding-top: 20px;
}

.vs .vs-input-group {
  opacity: 0;
  pointer-events: none;
}

.expanded-vs .vs-input-group {
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-delay: 0.5s;
  pointer-events: all;
}

.vs-input-group,
.vs-icons-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.vs-icons-group {
  transition: translate 0.5s ease-out;
}

.vs .vs-icons-group {
  translate: 0 30%;
}

.expanded-vs .vs-icons-group {
  translate: 0 0%;
}

.expanded-vs .human,
.expanded-vs .cpu {
  font-size: 5.4rem;
}

.vs-text {
  font-family: var(--my-font);
  font-size: 1.6rem;
}

.expanded-vs .vs-text {
  font-size: 2.4rem;
}

.play-btn {
  font-size: 2rem;
  padding-left: 8px;
  padding-right: 8px;
}

.play-btn:hover {
  cursor: pointer;
  color: rgb(241, 255, 240);
}

.play-btn:focus {
  color: white;
}

.vs:hover:not(.expanded-vs) {
  background-color: rgb(18, 42, 48);
}

.hidden {
  display: none !important;
}

input[type='text'] {
  font-size: 1.2rem;
  font-family: DMSans, sans-serif;
  border-radius: 4px;
  border: solid 0px;
}

select {
  font-size: 1.2rem;
  cursor: pointer;
  font-family: DMSans, sans-serif;
}

#pre-game-controls-container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

#pre-game-controls-parent-container {
  margin: 0;
  height: 70px;
}

.pre-game-btns {
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.right-ships-container,
.left-ships-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.left-ships-container {
  align-items: end;
}

.left-ships-container .ship-name {
  margin-right: 5px;
}

.ship-wagon {
  width: 15px;
  height: 15px;
}

.single-ship-container {
  display: flex;
  gap: 5px;
}

.board-plus-mini-ships-container {
  display: flex;
  gap: 5px;
}

.ship-and-ship-name,
.ship-box-container {
  display: flex;
  gap: 2px;
}

#draggable-ships-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  width: 250px;
  padding-left: 12px;
}

.draggable-ship {
  margin-bottom: 5px;
  cursor: grab;
  background-color: rgb(21, 21, 21);
  border-radius: 5px;
  border: solid 1px white;
  background-size: 96% 96%;
  background-repeat: no-repeat;
  background-position: center;
}

.ship-name {
  margin-left: 5px;
}

#left-player-container,
#right-player-container {
  display: flex;
  gap: 10px;
}

#result-container {
  font-family: var(--my-font);
  font-size: 2.5rem;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 35px;
  gap: 20px;
  border: 1px solid var(--my-aqua);
  border-radius: 4px;
  background: linear-gradient(
    to bottom,
    rgba(34, 34, 34, 0.85) 0%,
    rgb(15, 15, 17, 0.85) 100%
  );
  z-index: 3;
}

.slide-in-bck-center {
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bck-center {
  0% {
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.slide-out-bck-center {
  animation: slide-out-bck-center 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}

@keyframes slide-out-bck-center {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

#result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 35px;
}

#modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.human,
.cpu {
  font-size: 2.8rem;
}

.human,
.cpu,
.vs-text {
  transition: font-size 0.5s ease;
}

.btn {
  font-family: DMSans, sans-serif;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(0, 7, 22);
  color: white;
}

.pre-game-btns:hover,
#home-btn:hover,
.btn:hover {
  background-color: rgb(192, 203, 228);
  color: rgb(33, 33, 33);
}

.can-drop {
  background-color: var(--my-aqua);
}

.can-not-drop {
  background-color: red;
  cursor: not-allowed;
}

.mini-ship-hit {
  background-color: brown;
}

.btn-container {
  display: flex;
  gap: 5px;
  padding-left: 12px;
}

#left-mini-ships-container,
#right-mini-ships-container,
#drag-ships-container {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 37px;
}

.sunk-x {
  color: brown;
  font-size: 2rem !important;
  font-weight: 900 !important;
  z-index: 2;
  opacity: 0.7;
}

#names-container {
  display: flex;
  min-height: 20px;
  justify-content: center;
  gap: 40px;
}
.players {
  font-family: var(--my-font);
  margin: 0;
  padding-left: 2px;
  padding-right: 2px;
  min-height: 35px;
  font-size: 1.4rem;
}
#player-one {
  text-align: right;
}

#game-page {
  animation: text-focus-in 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
