@font-face {
  font-family: 'DMSans';
  src: url('../assets/DMSans-Regular.ttf');
  font-style: normal;
  font-weight: 200;
}

body {
  font-family: DMSans, sans-serif;
  background-color: rgb(15, 15, 17);
  color: rgb(237, 230, 230);
}

header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

#home-btn {
  font-size: 2rem;
  justify-self: start;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 3.8rem;
  justify-self: start;
}

#boards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  gap: 1px;
}

.tile {
  background-color: rgb(73, 73, 227);
  cursor: pointer;
}

.tile:hover:not(.hit, .miss, .sunk) {
  background-color: rgb(214, 186, 43);
}

.ship {
  background-color: aqua;
}

.hit {
  background-color: brown;
}

.miss {
  background-color: gray;
}

.sunk {
  background-color: black;
}

.pointer-events-disabled {
  pointer-events: none;
}

#player-type-selection-container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.vs {
  border: 1px solid rgb(159, 159, 159);
  padding: 7px;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  cursor: pointer;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: width 0.5s ease, height 0.5s ease, background-color 0.3s ease;
}

.expanded-vs {
  width: 450px;
  height: 280px;
  cursor: auto;
}

.hidden-vs {
  opacity: 0.5;
}

.vs-input-group input {
  width: 25%;
}
.vs-input-group select {
  width: 30%;
}

.vs-input-group {
  padding-top: 20px;
}

.vs .vs-input-group {
  opacity: 0;
  pointer-events: none;
  height: 0px;
}

.expanded-vs .vs-input-group {
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-delay: 0.5s;
  pointer-events: all;
}

.vs-input-group,
.vs-icons-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.expanded-vs .human,
.expanded-vs .cpu {
  font-size: 5.4rem;
}

.expanded-vs .lightning {
  font-size: 2.44rem;
}

.play-btn {
  font-size: 2rem;
  padding-left: 8px;
  padding-right: 8px;
}

.play-btn:hover {
  cursor: pointer;
  color: rgb(241, 255, 240);
}

.play-btn:focus {
  color: white;
}

.vs:hover:not(.expanded-vs) {
  background-color: rgb(20, 40, 35);
}

.hidden {
  display: none !important;
}

input[type='text'] {
  font-size: 1.2rem;
  font-family: DMSans, sans-serif;
}

select {
  font-size: 1.2rem;
  cursor: pointer;
  font-family: DMSans, sans-serif;
}

#pre-game-controls-container {
  margin-top: 15px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.pre-game-btns {
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.right-ships-container,
.left-ships-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.ship-wagon {
  width: 15px;
  height: 15px;
}

.single-ship-container {
  display: flex;
  gap: 5px;
}

.board-plus-mini-ships-container {
  display: flex;
  gap: 5px;
}

.ship-and-ship-name,
.ship-box-container {
  display: flex;
  gap: 2px;
}

#draggable-ships-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.draggable-ship {
  margin-bottom: 5px;
  cursor: grab;
  background-color: rgb(21, 21, 21);
  border-radius: 5px;
  border: solid 1px white;
  background-size: 96% 96%;
  background-repeat: no-repeat;
  background-position: center;
}

.ship-name {
  margin-left: 5px;
}

#left-player-container,
#right-player-container {
  display: flex;
  gap: 10px;
}
#result {
  display: flex;
  flex-direction: column;
}

.human,
.cpu {
  font-size: 2.8rem;
}

.human,
.cpu,
.lightning {
  transition: font-size 0.5s ease;
}

.btn {
  font-family: DMSans, sans-serif;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(0, 7, 22);
  color: white;
}

.pre-game-btns:hover,
#home-btn:hover,
.btn:hover {
  background-color: rgb(192, 203, 228);
  color: rgb(33, 33, 33);
}

.can-drop {
  background-color: aqua;
}

.can-not-drop {
  background-color: red;
  cursor: not-allowed;
}
